In [2]:
round(13.6879,2)

13.69

In [3]:
abs(14)

14

In [5]:
abs(-23.89)

23.89

In [6]:
int(23)

23

In [7]:
int(23.74)

23

In [8]:
float(10.683)

10.683

In [10]:
int("10100110",2) (This coverts the first number to the base of the secon)

166

### Module

In [11]:
import math

In [ ]:
math.sin(45)

# Data types in python

* primitive data types
    * int
    * float
    * boolean
    * complex
    * string
* containers
    * list
    * tuple
    * set
    * dictionaries

### Boolean

In [4]:
True

True

In [5]:
False

False

In [6]:
2>23

False

In [7]:
23<34

True

In [ ]:
Relational operators
>, <, <=, >=, ==, !=

In [8]:
10==10

True

In [11]:
10=10

SyntaxError: can't assign to literal (<ipython-input-11-0c42597905a0>, line 1)

## Control structures

* sequential structures
* conditional / branch structures
* loop / iterative structures

In [4]:
number = float(input("Enter a number:"))
if number > 0:
    print("It is positive")
elif number == 0:
    print("It is zero")
else:
    print("It is negative")

Enter a number:12
It is positive

In [ ]:
0-12:minors
13-19:teen
20-65:adults
Above 65:elderly

In [15]:
age = float(input("Enter your age(in years): "))
if age <= 12:
    print("You are a minor")
elif age <= 19:
    print("You are a teen")
elif age <= 65:
    print("You are an adult")
elif age <= 0:
    print("Invalid entry")
else:
    print("You are elderly")

Enter your age(in years): -23
You are a minor

In [18]:
age = float(input("Enter your age(in years): "))
if age > 65:
    print("You are elderly")
elif age > 20:
    print("You are an adult")
elif age > 13:
    print("You are a teen")
elif age > 0:
    print("You are a minor")
else:
    print("Invalid entry")

Enter your age(in years): -34
Invalid entry

In [ ]:
70-100:A
60-69:B
50-59:C
45-49:D
40-44:E
0-39:F

## ASSIGNMENT

In [17]:
grade = float(input("Enter your grade: "))
if grade > 100:
    print("Invalid entry")
elif grade >= 70:
    print("You have an A")
elif grade >= 60:
    print("You have a B")
elif grade >= 50:
    print("You have a C")
elif grade >= 45:
    print("You have a D")
elif grade >= 0:
    print("You have an F")
elif grade > 100:
    print("Invalid entry")
else:
    print("Invalid entry")

Enter your grade: 60
You have a B